<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= simple_form_for [@restaurant] do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :phone_number %>
        <%= f.input :category, collection: ['chinese', 'italian', 'japanese', 'belgian', 'french', 'german', 'indian', 'thai']%>
        <%= f.submit "add a review", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
